#wrap {
  background-color: #18393B;
  min-width: 370px;
  margin: auto;
}
#wrap * {
  margin: 0;
  padding: 0;
  list-style: none;
}
#wrap .wrap {
  width: 100%;
}
#wrap h1 {
  font-size: 70px;
  color: #18393B;
  font-weight: 700;
  font-family: "Noto Serif TC", serif;
}
#wrap h3 {
  font-size: 18px;
  color: #18393B;
  font-weight: 500;
  font-family: "Noto Serif TC", serif;
}
#wrap h4 {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  font-family: "Noto Serif TC", serif;
  letter-spacing: 1px;
  margin: 0;
}
#wrap p {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  font-family: "Noto Serif TC", serif;
  letter-spacing: 1px;
}
#wrap header {
  width: 100%;
  height: auto;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: rgba(24, 57, 59, 0.8);
  z-index: 100;
  top: 0;
}
#wrap header .logo img {
  margin: 0 10px;
}
#wrap header .pages {
  width: 100%;
  font-size: 16px;
  display: flex;
  margin: 0 20px;
  gap: 12px;
  justify-content: right;
}
#wrap header .pages .home,
#wrap header .pages .special,
#wrap header .pages .menu,
#wrap header .pages .contact {
  color: #fff;
  font-family: "Noto Serif TC", serif;
  font-weight: 400;
  font-size: 14px;
}
#wrap main .page1 {
  width: 100%;
  height: 100vh;
  background-color: #18393B;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap main .page1 .title {
  width: 70%;
  justify-content: center;
  align-items: center;
  -webkit-animation: zoomIn 2s;
          animation: zoomIn 2s;
}
#wrap main .page1 .title .title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#wrap main .page1 .title .title-text img.logotype1 {
  width: 35%;
}
#wrap main .page1 .title .title-text img.logotype2 {
  width: 70%;
}
#wrap main .page1 .title .title-text img.logotype3 {
  width: 55%;
}
#wrap main .page1 .title .title-decoline {
  width: 100%;
  border-top: solid #FFD9D9 2px;
  margin-top: 20px;
  margin-bottom: 15px;
}
#wrap main .page1 .title .title_demo {
  text-align: center;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap main .page1 .title .title_demo p {
  color: #489A8E;
  line-height: 25px;
}
#wrap main .page1 .homeimg img {
  display: none;
}
#wrap main .page1 .website {
  position: absolute;
  bottom: 40px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation: fadeInDown 2s;
          animation: fadeInDown 2s;
}
#wrap main .page1 .website hr.website-line {
  height: 100px;
  width: 1px;
  border-width: 0;
  background-color: #fff;
  margin: 20px 0;
}
#wrap main .page1 .website img {
  width: 30px;
  height: 30px;
}
#wrap main .page2 {
  width: 100%;
  height: 525vh;
  background-color: #fff;
  padding: 100px 0 20px 0;
}
#wrap main .page2 .img--big .img {
  width: 80vw;
  margin-bottom: 20px;
}
#wrap main .page2 .img--big .img img.img--big {
  width: 100%;
}
#wrap main .page2 .img--big .img_info {
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap main .page2 .img--big .img_info .img_title .img_text--ch p {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: black;
}
#wrap main .page2 .img--big .img_info .img_title .img_text--en {
  padding-top: 10px;
}
#wrap main .page2 .img--big .img_info .img_title .img_text--en p {
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-align: center;
}
#wrap main .page2 .img--big .img_info .img_text--content {
  text-align: center;
  margin: 32px 0 10px 0;
}
#wrap main .page2 .img--big .img_info .img_text--content p {
  font-size: 16px;
  line-height: 24px;
  color: black;
}
#wrap main .page2 .img--big .img_info .img_flavor {
  text-align: center;
}
#wrap main .page2 .img--big .img_info .img_flavor .img_flavor--title {
  font-size: 18px;
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  border-bottom: 3px solid #FFD9D9;
  padding-bottom: 3px;
  margin: 15px 0;
}
#wrap main .page2 .img--big .img_info .img_flavor .img_flavor--content {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Noto Serif TC", serif;
}
#wrap main .page2 .img--big .img_info .img_more {
  display: inline-block;
  text-align: right;
}
#wrap main .page2 .img--big .img_info .img_more a {
  text-decoration: none;
}
#wrap main .page2 .img--big .img_info .img_more a svg {
  width: 40%;
}
#wrap main .page2 .img--big .img_info .img_more a:hover svg path {
  fill: #066665;
}
#wrap main .page2 .cards {
  width: 100%;
  padding: 0 30px 30px 30px;
}
#wrap main .page2 .cards .card--group .card {
  width: 100%;
  height: 400px;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
  border: none;
  border-radius: 16px;
  margin: 50px 0;
  perspective: 700;
  -webkit-perspective: 700;
}
#wrap main .page2 .cards .card--group .card .card--front {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 16px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  padding: 40px 10px;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateY(0deg);
}
#wrap main .page2 .cards .card--group .card .card--front .card_img {
  width: 70%;
  margin-bottom: 20px;
}
#wrap main .page2 .cards .card--group .card .card--front .card_img img {
  width: 100%;
}
#wrap main .page2 .cards .card--group .card .card--front .card_text {
  text-align: center;
}
#wrap main .page2 .cards .card--group .card .card--front .card_text .card_title--ch {
  display: inline-block;
  border-bottom: 3px solid #FFD9D9;
  padding-bottom: 3px;
}
#wrap main .page2 .cards .card--group .card .card--front .card_text .card_title--ch p {
  font-size: 20px;
  font-weight: 700;
  color: #066665;
}
#wrap main .page2 .cards .card--group .card .card--front .card_text .card_title--en {
  padding: 20px 0;
}
#wrap main .page2 .cards .card--group .card .card--front .card_text .card_title--en p {
  font-size: 18px;
  font-weight: 500;
  color: #066665;
}
#wrap main .page2 .cards .card--group .card .card--back {
  width: 100%;
  height: 400px;
  background-color: #066665;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 16px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  padding: 40px 20px;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateY(180deg);
}
#wrap main .page2 .cards .card--group .card .card--back .card_title {
  text-align: center;
}
#wrap main .page2 .cards .card--group .card .card--back .card_title .card_title--ch {
  display: inline-block;
  border-bottom: 3px solid #FFD9D9;
  padding-bottom: 3px;
}
#wrap main .page2 .cards .card--group .card .card--back .card_title .card_title--ch p {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
#wrap main .page2 .cards .card--group .card .card--back .card_title .card_title--en {
  padding: 20px 0;
}
#wrap main .page2 .cards .card--group .card .card--back .card_title .card_title--en p {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
#wrap main .page2 .cards .card--group .card .card--back .card_text--content {
  text-align: center;
  margin: 32px 0 10px 0;
}
#wrap main .page2 .cards .card--group .card .card--back .card_text--content p {
  font-size: 16px;
  line-height: 24px;
  color: white;
}
#wrap main .page2 .cards .card--group .card .card--back .card_flavor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap main .page2 .cards .card--group .card .card--back .card_flavor .card_flavor--title {
  font-size: 18px;
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  border-bottom: 3px solid #FFD9D9;
  padding-bottom: 3px;
  margin-bottom: 15px;
  color: white;
}
#wrap main .page2 .cards .card--group .card .card--back .card_flavor .card_flavor--content {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Noto Serif TC", serif;
  color: white;
}
#wrap main .page2 .cards .card--group .card:hover {
  transform: rotateY(180deg);
}
#wrap main .page2 .cards .card_drink--group .card_drink {
  width: 100%;
  height: 400px;
  position: relative;
  border: none;
  border-radius: 16px;
  margin: 50px 0;
}
#wrap main .page2 .cards .card_drink--group .card_drink .card--front {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 16px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  padding: 40px 10px;
}
#wrap main .page2 .cards .card_drink--group .card_drink .card--front .card_img {
  width: 70%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
#wrap main .page2 .cards .card_drink--group .card_drink .card--front .card_img img {
  width: 100%;
}
#wrap main .page2 .cards .card_drink--group .card_drink .card--front .card_img img.fruitTea {
  width: 80%;
}
#wrap main .page2 .cards .card_drink--group .card_drink .card--front .card_text {
  text-align: center;
}
#wrap main .page2 .cards .card_drink--group .card_drink .card--front .card_text .card_title--ch {
  display: inline-block;
  border-bottom: 3px solid #FFD9D9;
  padding-bottom: 3px;
}
#wrap main .page2 .cards .card_drink--group .card_drink .card--front .card_text .card_title--ch p {
  font-size: 20px;
  font-weight: 700;
  color: #066665;
}
#wrap main .page2 .cards .card_drink--group .card_drink .card--front .card_text .card_title--en {
  padding: 20px 0;
}
#wrap main .page2 .cards .card_drink--group .card_drink .card--front .card_text .card_title--en p {
  font-size: 18px;
  font-weight: 500;
  color: #066665;
}
#wrap main .page3 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}
#wrap main .page3 iframe {
  width: 80%;
  height: auto;
  top: 0;
}
#wrap main .page3 .contact-board {
  z-index: 10;
  position: absolute;
  bottom: 0;
  opacity: 0;
}
#wrap main .page3 .contact-board .border {
  width: 290px;
  height: 290px;
  background-color: #18393B;
  display: flex;
  justify-content: center;
}
#wrap main .page3 .contact-board .border .border_deco {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#wrap main .page3 .contact-board .border .border_deco .border_innerline {
  width: 270px;
  height: 270px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap main .page3 .contact-board .border .border_deco .border_innerline .logotitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
#wrap main .page3 .contact-board .border .border_deco .border_innerline .logotitles img.logotitle1 {
  width: 35%;
}
#wrap main .page3 .contact-board .border .border_deco .border_innerline .logotitles img.logotitle2 {
  width: 60%;
}
#wrap main .page3 .contact-board .border .border_deco .border_innerline .logotitles img.logotitle3 {
  width: 50%;
}
#wrap main .page3 .contact-board .border .border_deco .border_innerline .link-top {
  width: 50%;
  border-top: solid #489A8E 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#wrap main .page3 .contact-board .border .border_deco .border_innerline .content {
  text-align: center;
  line-height: 20px;
}
#wrap main .page3 .contact-board .border .border_deco .border_innerline hr {
  height: 40px;
  width: 1px;
  border-width: 0;
  background-color: #fff;
  margin: 5px;
}
#wrap main .page3 .contact-board .border .border_deco .border_innerline .welcome {
  width: 70%;
  text-align: center;
}
#wrap main .page3 .contact-board .border .border_deco .border_innerline .welcome p {
  margin: 0;
}
#wrap main .page3 .btt-icon {
  z-index: 20;
  position: absolute;
  bottom: 35px;
  right: 15px;
  position: fixed;
}
#wrap main .page3 .btt-icon img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#wrap footer {
  width: 100%;
  text-align: center;
}
#wrap footer .copyright {
  color: #fff;
  padding: 10px 0;
}
#wrap footer .copyright p {
  padding: 2px;
}

@media screen and (min-width: 768px) {
  #wrap {
    width: 100%;
  }
  #wrap header {
    padding: 20px 20px;
  }
  #wrap header .logo img {
    margin: 0 20px;
  }
  #wrap header .pages {
    gap: 50px;
  }
  #wrap main .page1 {
    overflow: hidden;
    position: relative;
  }
  #wrap main .page1 .title {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 50;
    top: -100px;
    margin-top: 100px;
  }
  #wrap main .page1 .title .title-text {
    gap: 35px;
  }
  #wrap main .page1 .title .title-text img.logotype1 {
    width: 38%;
  }
  #wrap main .page1 .title .title-text img.logotype2 {
    width: 70%;
  }
  #wrap main .page1 .title .title-text img.logotype3 {
    width: 58%;
  }
  #wrap main .page1 .title .title-decoline {
    display: none;
  }
  #wrap main .page1 .title .title_demo {
    width: 50%;
    padding-top: 30px;
  }
  #wrap main .page1 .homeimg {
    width: 100%;
    height: 100%;
    -webkit-animation: fadeIn 2s;
            animation: fadeIn 2s;
  }
  #wrap main .page1 .homeimg img {
    width: 70%;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(270px) translateY(270px);
  }
  #wrap main .page2 {
    width: 100%;
    height: 100%;
    padding-top: 120px;
  }
  #wrap main .page2 .img--big {
    display: flex;
    justify-content: space-between;
  }
  #wrap main .page2 .img--big .img {
    width: 55vw;
  }
  #wrap main .page2 .img--big .img_info {
    width: 45vw;
    padding: 40px 60px 0 30px;
    align-items: flex-start;
  }
  #wrap main .page2 .img--big .img_info .img_title .img_text--ch {
    z-index: 1;
    position: relative;
    left: -105px;
  }
  #wrap main .page2 .img--big .img_info .img_title .img_text--ch p {
    font-size: 56px;
    text-align: left;
  }
  #wrap main .page2 .img--big .img_info .img_title .img_text--en {
    z-index: 1;
    position: relative;
    left: -105px;
  }
  #wrap main .page2 .img--big .img_info .img_title .img_text--en p {
    font-size: 36px;
    text-align: left;
  }
  #wrap main .page2 .img--big .img_info .img_text--content p {
    text-align: left;
    line-height: 28px;
    font-weight: 500;
  }
  #wrap main .page2 .img--big .img_info .img_flavor {
    text-align: left;
  }
  #wrap main .page2 .img--big .img_info .img_flavor .img_flavor--title {
    margin: 30px 0 20px 0;
  }
  #wrap main .page2 .img--big .img_info .img_flavor .img_flavor--content {
    font-weight: 500;
  }
  #wrap main .page2 .img--big .img_info .img_more {
    width: 100%;
    margin-top: 20px;
  }
  #wrap main .page2 .img--big .img_info .img_more a {
    text-decoration: none;
  }
  #wrap main .page2 .img--big .img_info .img_more a svg {
    width: 45%;
  }
  #wrap main .page2 .img--big .img_info .img_more a:hover svg {
    transform: translateX(40px);
  }
  #wrap main .page2 .img--big .img_info .img_more a:hover svg path {
    fill: #066665;
  }
  #wrap main .page2 .cards {
    width: 100%;
  }
  #wrap main .page2 .cards .card--group {
    width: 100%;
    display: flex;
  }
  #wrap main .page2 .cards .card--group .card {
    width: 33%;
    height: 450px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #wrap main .page2 .cards .card--group .card .card--front {
    width: 100%;
    height: 450px;
  }
  #wrap main .page2 .cards .card--group .card .card--back {
    width: 100%;
    height: 450px;
  }
  #wrap main .page2 .cards .card_drink--group {
    width: 100%;
    display: flex;
  }
  #wrap main .page2 .cards .card_drink--group .card_drink {
    width: 33%;
    height: 450px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #wrap main .page2 .cards .card_drink--group .card_drink .card--front {
    width: 100%;
    height: 450px;
    overflow: hidden;
  }
  #wrap main .page2 .cards .card_drink--group .card_drink .card--front .card_img {
    transform: scale(1, 1);
    transition: all 0.4s ease-in-out;
  }
  #wrap main .page2 .cards .card_drink--group .card_drink .card--front .card_img:hover {
    transform: scale(1.2, 1.2);
  }
  #wrap main .page2 .cards .card_drink--group .card_drink .card--front:hover {
    background-color: rgba(212, 207, 198, 0.4);
  }
  #wrap main .page3 iframe {
    width: 80%;
    top: 0;
  }
  #wrap main .page3 .contact-board {
    position: absolute;
    left: 200px;
    top: 200px;
  }
  #wrap main .page3 .contact-board .border {
    width: 400px;
    height: 400px;
  }
  #wrap main .page3 .contact-board .border .border_deco .border_innerline {
    width: 380px;
    height: 380px;
    border: 2px solid #fff;
  }
  #wrap main .page3 .contact-board .border .border_deco .border_innerline .logotitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
  #wrap main .page3 .contact-board .border .border_deco .border_innerline .logotitles img.logotitle1 {
    width: 35%;
  }
  #wrap main .page3 .contact-board .border .border_deco .border_innerline .logotitles img.logotitle2 {
    width: 70%;
  }
  #wrap main .page3 .contact-board .border .border_deco .border_innerline .logotitles img.logotitle3 {
    width: 55%;
  }
  #wrap main .page3 .contact-board .border .border_deco .border_innerline .link-top {
    width: 70%;
    border-top: solid #489A8E 2px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  #wrap main .page3 .contact-board .border .border_deco .border_innerline .content {
    text-align: center;
    line-height: 25px;
  }
  #wrap main .page3 .contact-board .border .border_deco .border_innerline hr {
    height: 60px;
    width: 1px;
    border-width: 0;
    background-color: #fff;
    margin: 10px;
  }
  #wrap main .page3 .contact-board .border .border_deco .border_innerline .welcome {
    width: 70%;
    text-align: center;
  }
  #wrap main .page3 .contact-board .border .border_deco .border_innerline .welcome p {
    margin: 0;
  }
  #wrap footer .copyright {
    display: flex;
    justify-content: center;
  }
  #wrap footer .copyright p {
    padding: 0 5px;
  }
}
@-webkit-keyframes onetwo {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes onetwo {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.onetwo {
  -webkit-animation: onetwo 2s;
          animation: onetwo 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}/*# sourceMappingURL=style.css.map */